body {
  background-color: #23272a;
  font-family: monospace;
}
#nav {
  list-style-type: none;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  position: sticky;
  top: 0px;
  background-color: #18191A;
  font-size: 20px;
}
li {
  display: inline;
}
a {
  display: block;
  padding: 8px;
}
#home-nav {
  color: #FFFDD0;
  text-decoration: none;
  position: sticky;
  border-right: 1px solid grey;
  float: left;
}
#home-nav:visited {
  color: #FFFDD0;
  text-decoration: none;
}
#home-nav:hover {
  cursor: pointer;
  color: #a69f9f;
}
#project-nav {
  color: #FFFDD0;
  text-decoration: none;
  position: sticky;
  border-right: 1px solid grey;
  float: left;
}
#project-nav:visited {
  color: #FFFDD0;
  text-decoration: none;
}
#project-nav:hover {
  cursor: pointer;
  color: #a69f9f;
}
#contact-nav {
  color: #FFFDD0;
  text-decoration: none;
  position: sticky;
  border-right: 1px solid grey;
  float: left;
}
#contact-nav:visited {
  color: #FFFDD0;
  text-decoration: none;
}
#contact-nav:hover {
  cursor: pointer;
  color: #a69f9f;
}
#links-nav {
  color: #FFFDD0;
  text-decoration: none;
  position: sticky;
  border-left: 1px solid grey;
  float: right;
}
#links-nav:visited {
  color: #FFFDD0;
  text-decoration: none;
}
#links-nav:hover {
  cursor: pointer;
  color: #a69f9f;
}
#header {
  color: white;
  text-align: center;
  font-size: 30px;
}
#paragraph-div {
  width: 600px;
  margin: auto;
}
#bookmarklets {
  text-align: center;
  color: white;
  font-size: 15px;
}
#bookmarklets-link {
  text-decoration: none;
  color: #FFFDD0;
}
#bookmarklets-link:hover {
  text-decoration: none;
  color: #a69f9f;
}
