body {
  background-color: #23272a;
}
#nav {
  list-style-type: none;
  display: inline;
}
#home-nav {
  color: #FFFDD0;
  text-decoration: none;
  position: sticky;
}
#home-nav:visited {
  color: #FFFDD0;
  text-decoration: none;
}
#home-nav:hover {
  cursor: pointer;
  color: #a69f9f;
}
#home-nav:active {
  color:green;
}
#project-nav {
  color: #FFFDD0;
  text-decoration: none;
  position: sticky;
}
#project-nav:visited {
  color: #FFFDD0;
  text-decoration: none;
}
#project-nav:hover {
  cursor: pointer;
  color: #a69f9f;
}
#header {
  color: white;
  text-align: center;
  position: relative;
}
